// Importing the "Source Sans Pro" font from Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
$text-font: "Source Sans Pro";

* {
    font-family: $text-font;
}

.textTop {
    font-size: 1.1rem;
}

.textBottom3 {
    font-size: 1.1rem;
    color: blue;
}

.textBottom2 {
    font-size: 1.1rem;
}

.number {
    font-size: 2.8rem;
    font-weight: lighter;
}

.icon {
    margin-top: 12px;
}


.spend {
    font-size: 1.1rem;
}

.infoBox2{
    margin-left: 0rem;
}

.daysRemainingBox{
    margin-left: -3rem;
}

.symbols{
    font-size: 1.8rem;
}
